.navbar{
    display: flex;
   justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    }

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    font-size: 38px;
    color: rgb(121, 27, 106);
    font-weight: 800;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: medium;
    font-weight: 600;
}

.nav-menu li{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2px;
    cursor: pointer;

}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(149, 37, 37);
}
.nav-login-cart{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
}

.nav-login-cart button {
    height: 50px;
    width: 150px;
    outline: none;
    border-radius: 70px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background-color: rgb(240, 237, 233);
    
}

.nav-cart-count{
    padding-bottom: 2px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    margin-left: -55px;
    border-radius: 11px;
    background-color: rgb(198, 16, 16);
    color: white;
}