.item{
    width: 350px;
}

.item p{
    margin: 0px 6px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new {
    color: springgreen;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
} 

.item-price-old {
    color: aqua;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
    cursor: pointer;
}